:root {
    --flatironlogo: url("https://instructure-uploads.s3.amazonaws.com/account_158020000000000001/attachments/43703/flatiron-icon.png")
}

body {

    background-color: #11182e;
    margin: 0px;
    /* set background color and 0 margin so it doesnt break div */
}

div.leftbar{
    display: flex;
    background-color: #0c1421;
    position: absolute;
    top: 0px;
    width: 10%;
    height: 100%;
    flex-direction: column;
}

div.notification {
    z-index: 4;
    position: fixed;
    top: 15%;
    /* Adjust to your desired position */
    right: -100px;
    transform: translateX(-20%);
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    /* Start with 0 opacity */
    transition: right 0.5s ease-in, opacity 0.5s ease-in-out;
    /* Add opacity transition */
}

div.coins{
    position: absolute;
    left: 15%;
    top: 20%;
    width: 50%;
    height:20%;
    background-color: white;
}

div.displayedCoin{
    position: absolute;
    left: 15%;
    top: 42%;
    width: 50%;
    height:50%;
    background-color: white;
}

div.playground{
    position: absolute;
    right: 5%;
    top: 20%;
    width: 20%;
    height: 72%;
    background-color: white;
}

div.titleHolder{
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

div.title{
    position: absolute;
    top:5%;
    width:50%;
    height: 10%;
    font-size: 50px;
    background-color: white;
}

div.filogo {
    position: absolute;
    top: -2%;
    left: 0%;
    height: 20%;
    width: 100%;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--flatironlogo);
}

